package views

templ Index() {
	<div class="min-h-screen bg-white">
		@HeroSection()
		@OurStorySection()
		@WeddingDetailsSection()
		@TravelSection()
		@RSVPSection()
		@RegistrySection()
		@FAQSection()
		@FooterSection()
	</div>
}
